html,
body{
    height:100%;
    margin: 0;
    font-size:16px ;
    font-family: "Lato",sans-serif;
    font-weight: 500;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url(image1.png);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.ptext{
    background: #313534;
    /* height: 5rem; */
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
}
.textbg{
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: white;
}
.section-light{
    background-color: white;
    color: #666;
}
.section{
    padding: 50px 80px;
    text-align: center;
    display: block;
}
.pimg2{
    background-image: url(images/image2.png);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.section-dark{
    background-color:#313534;
    color: white;
}
.pimg3{
    background-image: url(images/image3.png);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}